.edit_task {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    border-bottom: solid 1px #eee;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 1.3em;
  }
  .body {
    padding: 10px;
    box-sizing: border-box;
    width: 100vw;
    input {
      width: 80%;
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      padding: 0;
      border: none;
      border-bottom: solid #000 3px;
      overflow-y: hidden;
      overflow-x: scroll;
      margin-bottom: 30px;
    }
    textarea {
      font-size: 13px;
      line-height: 20px;
      box-sizing: border-box;
      width: 95%;
      height: 200px;
      padding: 5px;
      border: none;
      border: solid 3px #000;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .finish {
      box-sizing: border-box;
      width: 95%;
      padding: 5px;
      border-bottom: solid 3px #000;
      margin-top: 15px;
      line-height: 20px;
    }
  }
  .tags {
    height: 40px;
    text-align: left;
    padding: 10px 10px 0 10px;
    margin-bottom: -10px;
    span {
      display: inline-block;
      height: 20px;
      font-size: 0.8em;
      text-align: center;
      line-height: 20px;
      border-radius: 3px;
      color: #555;
      background: #eee;
      padding: 0 5px;
      margin: 0 10px 10px 0;
    }
  }
  .addTag {
    display: flex;
    text-align: left;
    padding: 10px 10px;
    input {
      flex: 1 1 auto;
      border: none;
      border-bottom: solid 1px #ddd;
      width: 60%;
      margin: 0 15px;
      overflow-y: hidden;
      overflow-x: scroll;
    }
  }

  .taskbody {
    padding: 10px 15px;
    .txt {
      line-height: 20px;
      box-sizing: border-box;
      width: 95%;
      height: 200px;
      padding: 5px;
      border: none;
      border: solid 3px #000;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    // .txt {
    //   width: 100%;
    //   height: 30px;
    //   line-height: 30px;
    //   font-size: 20px;
    //   padding: 0;
    //   border: none;
    //   border-bottom: solid #000 3px;
    //   overflow-y: hidden;
    //   overflow-x: scroll;
    //   margin-bottom: 15px;
    // }
    .goal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .tags {
        height: auto;
        padding: 0;
        margin: 0;

        div {
          display: inline-block;
          margin: 10px;
          margin-left: 0;
        }
        span {
          display: inline-block;
          height: 20px;
          font-size: 0.8em;
          text-align: center;
          line-height: 20px;
          border-radius: 3px;
          color: #555;
          background: #eee;
          padding: 0 5px;
          margin: 0 10px 10px 0;
        }
      }
    }
    .interval {
      margin-top: 10px;
      .type {
        height: 30px;
        line-height: 30px;
      }
      .num {
        margin-top: 15px;
        input {
          width: 50px;
          height: 25px;
          line-height: 25px;
          border: solid #000 3px;
          border-radius: 3px;
        }
      }
      span {
        font-size: 0.9em;
        box-sizing: border-box;
        padding: 2px 5px;
        margin: 0 10px 10px 0;
        border-radius: 3px;
        border: #000 solid 3px;
      }
    }
  }
}
